a.close(href="", title="{{'COMMON.CLOSE' | translate}}")
    span.icon.icon-delete
form
    h2.title
    p
        span.subtitle
        span.message
    div.options
        a.button-green(href="", title="{{'LIGHTBOX.ASK_CHOICE.ACTION_ACCEPT' | translate}}")
            span(translate="LIGHTBOX.ASK_CHOICE.ACTION_ACCEPT")
        a.button-red(href="", title="{{'LIGHTBOX.ASK_CHOICE.ACTION_CANCEL' | translate}}")
            span(translate="LIGHTBOX.ASK_CHOICE.ACTION_CANCEL")
