a.close(href="", title="{{'COMMON.CLOSE' | translate}}")
    span.icon.icon-delete
section
    h2.title
    div.options
        a.button-green(href="", title="{{'LIGHTBOX.ASK_CHOICE.ACTION_ACCEPT' | translate}}")
            span(translate="LIGHTBOX.ASK_CHOICE.ACTION_ACCEPT")
