<% if (assignedTo) { %>
.user-avatar
    img(src!="<%- assignedTo.photo %>", alt!="<%- assignedTo.full_name_display %>")
<% } %>

.assigned-to
    span.assigned-title(translate="COMMON.ASSIGNED_TO.TITLE")

    a(href="" title="edit assignment", class!="user-assigned <% if(isEditable){ %>editable<% }; %>")
        span.assigned-name
        <% if (assignedTo) { %>
        <%- assignedTo.full_name_display %>
        <% } else { %>
        | {{'COMMON.ASSIGNED_TO.TITLE' | translate}}
        <% } %>
        <% if(isEditable){ %>
        span.icon.icon-arrow-bottom
        <% }; %>
    <% if (assignedTo!==null && isEditable) { %>
    a.icon.icon-delete(href="" title="{{'COMMON.ASSIGNED_TO.DELETE_ASSIGNMENT' | translate}}")
    <% } %>
